<section id="signin">
  <div class="container">
    <h4>Bem vindo<br />de volta!</h4>

    <form class="form mt-4">
      <div class="form-group">
        <input class="form-control" placeholder="Informe seu nome" autofocus />
      </div>

      <div class="form-group">
        <input
          type="password"
          class="form-control"
          placeholder="Informe sua senha"
        />
      </div>

      <button type="submit" class="btn-principal">acessar</button>
    </form>

    <div class="signin---cadastrar">
      Não possui conta?<a [routerLink]="['/cadastrar']">Cadastre-se agora!</a>
    </div>
  </div>
</section>
