<section id="nova-pergunta--body">
  <div class="container">
    <h2 class="nova-pergunta--title">Nova Pergunta</h2>
    <div class="nova-pergunta--para">Para: <span>Meu Médico</span></div>
    <form class="form mt-4">
      <p>Preencha os campos abaixo</p>
      <div class="form-group">
        <select class="form-control" placeholder="Escolha o tema" autofocus>
          <option>Escolha o tema</option>
          <option>Alimentação</option>
          <option>Dentição</option>
          <option>Saúde</option>
        </select>
      </div>

      <div class="form-group">
        <label for="pergunta">Pergunta</label>
        <textarea
          class="form-control"
          id="pergunta"
          placeholder="Coloque aqui sua dúvida"
          rows="5"
        ></textarea>
      </div>

      <button type="submit" class="btn-principal">Enviar</button>
    </form>
  </div>
</section>
