<section id="ver-pergunta--body">
  <div class="container">
    <h2 class="ver-pergunta--title">Pergunta</h2>
    <div class="ver-pergunta--data">Data: <span>01/11/2020</span></div>
    <div class="ver-pergunta--assunto">Assunto: <span>Dentição</span></div>
    <div class="ver-pergunta--pergunta-feita">
      Pergunta feita Pergunta feita Pergunta feita Pergunta feita Pergunta
      feitaPergunta feitaPergunta feitaPergunta feita Pergunta feita
    </div>
    <app-modal class="ver-pergunta-resposta">
      <!-- (click)="open(content)" -->
      Ver Resposta <fa-icon [icon]="faArrowRight"></fa-icon>
    </app-modal>
  </div>
</section>
